*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("https://www.xtrafondos.com/descargar.php?id=4052&resolucion=3840x2160");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    width: 70%;
    margin: 0px auto;
}

header{
    background:  #00aae4;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: yellow;
    border-bottom: 5px dashed green;
    font-size: 30px;
}

nav{
    background: #ff0080;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 5px solid greenyellow;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(86.5% - 86.5px);
    background: #2ab669;
    padding: 30px;
    text-align: center;
}

.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    color: rgb(255, 239, 21);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}


aside{
    float: left;
    width: 15.4%;
    background: #800080;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}